/*Instacashatm.com CSS style*/
/*URL : www.instacashatm.com*/
/*Time started: 11:58 PM 12/22/2011 */
/*Created by : marion serenio*/
/*www.marionserenio.com*/



/*#FONT FACE*/
@font-face {
  font-family: "Bebas"; 
  font-family:"Bebas"; 
  src: url("css/BEBAS__.TTF");
  src:url("../css/BEBAS__.TTF") format("truetype"); }
}